/* NAVIGATION */
#navbar{
    flex-direction: column;
    height: 160px;
    
}
.btn{
    position: relative;
    bottom: 0px;
}

/* HOME section */
#home{ 

}
/* SERVICES */
#services{
     
}

#services{
        flex-direction: column;

}
/* CLIENT */
#clients{
    overflow: hidden;
}

/* CONTACT */

/* footer */


